{% load bootstrap3 %}
{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{% block title %}{% endblock %}</title>
  {% bootstrap_css %}
  <link rel="stylesheet" type="text/css" href="{% static 'pik_check/style.css' %}"/>
  {% bootstrap_javascript %}
</head>
<body role="document">
  {%  block navbar %}{% include "pik_check/nav_bar.html" %}{% endblock %}
  <div class="container theme-showcase" role="main">
    {# Display django.contrib.messages as Bootstrap alerts #}
    {% bootstrap_messages %}
    {%block content %}{% endblock %}
  </div>
</body>
</html>
