{% extends "pik_check/base.html" %}
{% load bootstrap3 %}
{% load pik_check_extras %}
{% block content %}
  <h1>{{ partner.name }} ({{ partner.code }})</h1>

  <table class="table table-condensed">
    <tr><th>Active</th><td>{{ partner.is_active }}</td></tr>
    <tr><th>Activation</th><td>{{ partner.active_after|default:"" }}</td></tr>
    <tr><th>Deactivation</th><td>{{ partner.inactive_after|default:"" }}</td></tr>
    <tr><th>Scheduling Interval</th><td>{{ partner.scheduling_interval|naturaldelta }}</td></tr>
    <tr><th>Browsers</th><td>{% for browser in partner.browsers.all %}{{ browser }}{% endfor %}</td></tr>
  </table>
{% endblock content %}
